/* Mobile Styles - Default */
:root {
  --primary-color: #b49a5e;
  --secondary-color: #c72b29;
  --tertiary-color: #0d0901;
  --main-font: arial;
}

body {
  background-color: #c72b29;
}

.container {
  max-width: 75rem;
  min-height: 10rem;
  margin: auto;
  background-color: var(--primary-color);
  padding: 1rem;
}

.container a {
  color: white;
}
.container a:hover {
  color: red;
}

#pageheader {
  background-color: black;
  min-height: auto;
  padding: 0.25rem;
}
#logo {
  background-image: url(Images/FTTB.png);
  width: 6.25rem;
  height: 6.25rem;
  margin: auto;
  transition: all 2s;
  background-color: #b49a5e;
}

#pageheader .container {
  background-color: #b49a5e;
  min-height: auto;
}
#pageheader nav {
  text-align: center;
}

#pageheader nav ul {
  background-color: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pageheader nav ul li {
  border: 2px solid #0d0901;
  padding: 1rem;
  margin: 2px;
}
#pageheader nav ul li:hover {
  background-color: red;
}
#media {
  background-color: white;
  min-height: 10rem;
  padding: 1rem;
  background-image: url(Images/49ers.png);
  background-size: cover;
  aspect-ratio: 16 / 9;
}

#career {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}

#pagecontent {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

p {
  line-height: 1.5;
}
#semester1 {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}

#semester2 {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples {
  background-color: #c72b29;
  min-height: 10rem;
  padding: 1rem;
}
#worksamples ul {
  list-style-type: none;
}
#certificates {
  background-color: #c72b29;
  min-height: 10rem;
  padding: 1rem;
}
#certificates ul {
  list-style-type: none;
}
#pagefooter {
  background-color: #f5571d;
  min-height: 10rem;
  padding: 1rem;
}
#pagefooter .container {
  min-height: auto;
  text-align: center;
  background-color: #c72b29;
}
#aifooter {
  padding: 1rem;
  background-color: #c72b29;
  min-height: auto;
}
#aifooter .container {
  min-height: auto;
  text-align: center;
}
#subfooter {
  background-color: black;
  min-height: 10rem;
  padding: 1rem;
  text-align: center;
}

audio {
  border: 5px solid #b49a5e;
  background-color: #b49a5e;
  display: block;
  margin: auto;
}
/* Tablet View */
@media screen and (min-width: 750px) {
  #pageheader nav ul li {
    display: inline-block;
  }
  #logo {
    margin: 0;
  }
  #pagecontent {
    background-color: #c72b29;
  }
}
/* Desktop View */
@media screen and (min-width: 1000px) {
  #pagecontent {
    background-color: #b49a5e;
  }
}
